---
title: jasmfed
layout: base.njk 
---




    <div class="container">
        <h1>jamFed</h1>
        <div class="vibe">
            Jamstack!!
        </div>
    </div>
    <script src="/js/vibe.js"></script>